body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; 
    max-width: 800px;  
    margin: 0 auto;  
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Botón general */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    margin-top: 20px; 
}

.tabla-alumne {
    width: 100%;
    border-collapse: collapse;  
    margin: 0 auto;  
}

.tabla-alumne th,
.tabla-alumne td {
    padding: 10px;
    text-align: left;
    border: 2px solid #007bff;  
}

.tabla-alumne th {
    background-color: #007bff;
    color: white;
    text-align: left;  
}

.tabla-alumne tr:nth-child(even) {
    background-color: #f9f9f9;  
}

.tabla-alumne tr:hover {
    background-color: #f1f1f1;  
}
